<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.laitec.basicandroid_isiran">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BasicAndroid_ISIRAN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecycleViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NavigationDrawerActivity">

        </activity>
        <activity android:name=".ImplicitIntentActivity3" />
        <activity android:name=".SecondIntentActivity" />
        <activity android:name=".FirstIntentActivity" />
        <activity android:name=".NextActivity" />
        <activity android:name=".IntentActivity" />
        <activity android:name=".TasActivity" />
        <activity android:name=".KotlinActivity" />
        <activity android:name=".TestKotlinActivity" />
        <activity android:name=".ConstraintLayoutActivity" />
        <activity android:name=".Linear2Activity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".ConstraintActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TestLayoutActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>